<style>
  .o {
      margin-top: 30px;
      text-align: center;
      width: 60%;
      margin-bottom: 500px;
  }
</style>
<div class="list-group o">

  <% @users.each do |user| %>
  <a href="#" class="list-group-item col-sm list-group-item-action">
    <%= user.email %>
  </a>
  <% end %>
</div>

